<div class="container-fluid" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="logo-pro" style="margin-bottom: 20px">
                <a href="index.html"><img class="main-logo" th:src="@{/img/logo/logo.png}" alt="" /></a>
            </div>
        </div>
    </div>
</div>
<div class="header-advance-area" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="header-top-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="header-top-wraper">
                        <div class="row">
                            <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                <div class="menu-switcher-pro">
                                    <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                <div class="header-top-menu tabl-d-n">
                                    <ul class="nav navbar-nav mai-top-nav">
                                        <li class="nav-item"><a th:href="@{/}" class="nav-link">Home</a>
                                        </li>
                                        <li class="nav-item"><a th:href="@{/aboutus}" class="nav-link">About</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                <div class="header-right-info">
                                    <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                        <li class="nav-item">
                                            <a th:href="@{/login}" class="nav-link" th:unless="${@userService.findUserByUsername(#authentication.name) != null}">Sign In</a>
                                        </li>
                                        <li class="nav-item" th:unless="${@userService.findUserByUsername(#authentication.name) != null}">
                                            <a th:href="@{/user/0/save}" class="nav-link" style="color: green">Sign Up</a>
                                        </li>
                                        <li class="nav-item" th:if="${@userService.findUserByUsername(#authentication.name) != null}">
                                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                <i class="fa fa-user adminpro-user-rounded header-riht-inf" aria-hidden="true"></i>
                                                <span class="admin-name" th:text="${@userService.findUserByUsername(#authentication.name).getUsername()}">Advanda Cro</span>
                                                <i class="fa fa-angle-down adminpro-icon adminpro-down-arrow"></i>
                                            </a>
                                            <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                <li><a th:href="@{/user/__${@userService.findUserByUsername(#authentication.name).getId()}__/profile}"><span class="fa fa-user author-log-ic"></span>My Profile</a>
                                                </li>
                                                <li><a th:href="@{/logout}"><span class="fa fa-lock author-log-ic"></span>Log Out</a>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul class="mobile-menu-nav">
                                <li><a data-toggle="collapse" data-target="#Charts" th:href="@{/}">Home <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>

                                </li>
                                <li><a data-toggle="collapse" data-target="#others" th:href="@{/category/list}">Categories<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>

                                </li>


                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu end -->

</div>