<div class="left-sidebar-pro" xmlns:th="http://www.thymeleaf.org">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a th:href="@{/}"><img class="main-logo" th:src="@{/img/logo/logo.png}" alt="" /></a>
            <strong><img src="img/logo/logosn.png" alt="" /></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">



                    <li><a title="Home" th:href="@{/}" aria-expanded="false"><i class="fa big-icon fa-home icon-wrap sub-icon-mg" aria-hidden="true"></i> <span class="mini-click-non">Home</span></a></li>
                    <li><a title="Categories" th:href="@{/category/list}" aria-expanded="false"><i class="fa big-icon fa-files-o icon-wrap sub-icon-mg" aria-hidden="true"></i> <span class="mini-click-non">Categories</span></a></li>


                </ul>
            </nav>
        </div>
    </nav>
</div>