<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset=" utf-8 />">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>kamilshop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/cart.png}">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.css}">
    <link rel="stylesheet" th:href="@{/css/owl.transitions.css}">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/animate.css}">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/meanmenu.min.css}">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/morrisjs/morris.css}">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/scrollbar/jquery.mCustomScrollbar.min.css}">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/metisMenu/metisMenu.min.css}">
    <link rel="stylesheet" th:href="@{/css/metisMenu/metisMenu-vertical.css}">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/calendar/fullcalendar.min.css}">
    <link rel="stylesheet" th:href="@{/css/calendar/fullcalendar.print.min.css}">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/style.css}">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <!-- modernizr JS
		============================================ -->
    <script th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div th:replace="@{layout/sidebar.html}"></div>
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
        <div th:replace="@{layout/header.html}"></div>
        <div class="product-new-list-area">
            <div class="container-fluid">
                <a th:href="@{/product/0/save}" th:if="${@userService.findUserByUsername(#authentication.name) != null}"><button type="button" class="btn btn-danger btn-lg btn-block">Add your product</button></a>
                <div class="row">
                    <ul th:each="product:${products}">
                        <li>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="single-new-trend mg-t-30">
                            <a href="#"><img th:src="@{/img/new-product/1600.jpg}" alt=""></a>
                            <div class="overlay-content">
                                <a th:href="@{/product/__${product.id}__/details}">
                                    <h2 th:text="${product.title}">Product Title</h2>
                                </a>

                                <a th:href="@{/product/__${product.id}__/details}">
                                    <h4 th:text="${product.price+' KGS'}">50 000 KGZ</h4>
                                </a>

                            </div>

                        </div>
                    </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <!--Footer -->
        <div th:replace="@{layout/footer.html}"></div>
    </div>

    <!-- jquery
		============================================ -->
    <script th:src="@{/js/vendor/jquery-1.11.3.min.js}"></script>
    <!-- bootstrap JS
		============================================ -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- wow JS
		============================================ -->
    <script th:src="@{/js/wow.min.js}"></script>
    <!-- price-slider JS
		============================================ -->
    <script th:src="@{/js/jquery-price-slider.js}"></script>
    <!-- meanmenu JS
		============================================ -->
    <script th:src="@{/js/jquery.meanmenu.js}"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <!-- sticky JS
		============================================ -->
    <script th:src="@{/js/jquery.sticky.js}"></script>
    <!-- scrollUp JS
		============================================ -->
    <script th:src="@{/js/jquery.scrollUp.min.js}"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script th:src="@{/js/scrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>
    <script th:src="@{/js/scrollbar/mCustomScrollbar-active.js}"></script>
    <!-- metisMenu JS
		============================================ -->
    <script th:src="@{/js/metisMenu/metisMenu.min.js}"></script>
    <script th:src="@{/js/metisMenu/metisMenu-active.js}"></script>
    <!-- morrisjs JS
		============================================ -->
    <script th:src="@{/js/sparkline/jquery.sparkline.min.js}"></script>
    <script th:src="@{/js/sparkline/jquery.charts-sparkline.js}"></script>
    <!-- calendar JS
		============================================ -->
    <script th:src="@{/js/calendar/moment.min.js}"></script>
    <script th:src="@{/js/calendar/fullcalendar.min.js}"></script>
    <script th:src="@{/js/calendar/fullcalendar-active.js}"></script>
    <!-- plugins JS
		============================================ -->
    <script th:src="@{/js/plugins.js}"></script>
    <!-- main JS
		============================================ -->
    <script th:src="@{/js/main.js}"></script>
</body>

</html>